<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">

            <p>
                <h4 class="display-4 strong"><%="Welcome, #{@user.username}!"%><h4>
                <br>
            </p>
        </div>

        <div class="col-lg-6">
            <p>
                <h4 class="display-6 strong"><label for="organized_campaigns">Campaigns you've organized so far:</label></h4>
                <br>
                <h4 class="display-6 strong"><%="Nothing to show here." if @user.organized_campaigns.empty?%></h4>
                <%@user.organized_campaigns.each.with_index(1) do |campaign, idx|%>
                    <h4 class="display-6 strong">
                    <%="#{idx}."%>
                    <%=campaign.title%>
                    <br>
                    Goal amount: <%="$#{campaign.goal_amount}"%>
                    <br>
                    <br>
                    <span> $<%=campaign.donations.sum(&:amount)%> Raised of $<%=campaign.goal_amount%> Goal</span>
                    <br>
                    <div class="progress" style="width: 40%">
                        <%@percentage = campaign.donations.sum(&:amount).to_f / campaign.goal_amount.to_f * 100 %>
                        <div class="progress-bar" style="width: <%=@percentage%>%;">>
                        </div>
                    </div>
                    </h4>
                    <br>
                    <%=campaign.description%>
                    <br>
                    <br>
                    <span>Click <a class="btn btn-dark btn-sm" href="/campaigns/<%=campaign.id%>">Here</a> To Update or Delete</span>
                    <br>
                    <br>
                <%end%>
            </p>
                <br>
        </div>
        <div class="col-lg-6">
            <p>
                <h4 class="display-6 strong"><label for="donations">Campaigns you have donated so far:</label></h4>
                <br>
                 <h4 class="display-6 strong"><%="Nothing to show here." if @user.donations.empty?%></h4>
                <%@user.donations.each.with_index(1) do |donation, idx|%>
                    <h4 class="display-6 strong">
                    <%="#{idx}. #{donation.campaign.title}"%>
                    <br>
                    <label for="donation">Donated Amount: </label><%="$#{donation.amount}"%>
                    </h4>
                    <br>
                    <br>
                <%end%>
                <br>
                <a class="btn btn-primary" href="/profile"> Profile </a> <a class="btn btn-secondary" href="/logout"> Log out </a>
            </p>
        </div>
    </div>
</div>

