<h1>Dashboard</h1>

<p>
    <%=@user.username%>
    <br>
    <label for="organized_campaigns">Campaigns you've organized so far:</label>
    <br>
    <%@user.organized_campaigns.each.with_index(1) do |campaign, idx|%>
        <%="#{idx}."%>
        <%=campaign.title%>
        <br>
        <%=campaign.description%>
        <br>
        <%="$#{campaign.goal_amount}"%>
        <br>
        <a href="/campaigns/<%=campaign.id%>">Click Here To Update or Delete</a>
        <br>
        <br>
    <%end%>
</p>
    <br>
<p>
    <label for="donations">Campaigns you have donated so far:</label>
    <br>
    <%@user.donations.each.with_index(1) do |donation, idx|%>
        <%="#{idx}. #{donation.campaign.title}"%>
        <br>
        <%="$#{donation.amount}"%>
        <br>
    <%end%>
    <br>
    <a href="/profile"><input type="submit" value="Profile"></a><a href="/logout"><input type="submit" value="Log Out"></a>
</p>

<a href="/">Home</a>

